/**
*	Rubric-Feedback Generator
*	Author: Jenn Schiffer
*	Email: schifferj@mail.montclair.edu
*/

/* ----- Global ------------------------ */
html { font-family: Helvetica, Arial, sans-serif; font-size: 14px; }
body { width: 75%; max-width: 800px; margin: 20px auto; }
label { display: block; }
fieldset { border: 1px solid #ddd; background: #fff; margin: 10px 0; padding: 10px 20px 20px; position: relative; }
legend { border: 1px solid #ddd; background: #6cc; padding: 10px; }
form { padding: 20px 40px; background: #efefef; border: 1px solid #ddd; margin: 20px auto 40px; }
input.text { width: 60%; min-width: 200px; } 
textarea { width: 60%; min-width: 200px; height: 100px; }
h1,h2,h3,h4,h5,h6,legend { font-family: Monaco, monospace; }

/* ----- Form Elements ----------------- */
input.button { width: auto; width: 180px; }
.button { display: inline-block; padding: 5px; margin: 5px; background: #ddd; border: 1px solid #ccc; cursor: pointer; text-align: center; font-weight: bold; }
.button:active { background: #aaa; border: 1px solid #bbb; }
.button:hover { background: #ccc; }
.button.delete, .button.new-delete { position: absolute; bottom: 0; right: 0; margin: 15px; }
.button.delete-value, .button.delete-new-value, .button.add-value { padding: 3px 5px; margin: 5px 0; font-size: .9em;}
.button.add-value { margin-left: 40px; }
input[type="submit"] { display: inline-block; margin: 5px auto; }
.buttons-left { width: 45%; text-align: left; float: left; }
.buttons-right { width: 45%; text-align: right; float: right; }
div.description { padding: 10px; margin: 10px 20px 30px; background: #CCCCC1; border: 1px solid #AAA; }

/* ----- Delimited Processsing Form ----- */
#delimited-text { width: 100%; height: 300px; margin: 10px 0; }

/* ----- Edit Rubric Form Elements ----- */
fieldset.deleted, li.deleted { color: #aaa; font-style: italic; background: #efefef; }
fieldset.deleted input, li.deleted input { color: #aaa; font-style: italic; background: #efefef; }
fieldset.deleted div.button.add-value.new-radio { display: none; }
ul.radio-options li { margin: 20px 0; }
#add-items-panel { text-align: right; }

/* ----- Assignments ------------------- */
#no-rubrics.empty-input { border: 0px; background: #C66; padding: 10px; }

/* ----- Grade Email ------------------- */
#email-header { max-width: 580px; padding: 10px; background: #efefef; border: 1px solid #ddd; margin: 10px auto; }
#email-content { max-width: 600px; margin: 10px auto; }
#email-content > div > h1 { font-family: Helvetica, Arial, sans-serif; }

/* ----- Form Validation and Prompts --------------- */
.empty-input { border: 2px solid #C00; }
.invalid-points, .invalid-email { border: 2px solid #339999; }
.warning { padding: 20px; background: #c66; border: 1px solid #c66; }
#submit-warning { display: block; padding: 10px; background: #c66; margin: 20px auto; }
#submit-warning.invalid-points, #submit-warning.invalid-email { background: #339999;}
#footer-admin { background: #efefef; padding: 10px; margin: 20px auto; border: 1px solid #ddd; text-align: right; }
#delete-prompt { background: #c66; padding: 10px; display: none; margin-top: -20px; }

/* ----- Misc. CSS Fixes --------------- */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}