/**
*	Rubric Creator
*	Author: Jenn Schiffer
*	Email: schifferj@mail.montclair.edu
*	Updated: 01-19-2012
*/

/* RESET GOES HERE */

/* ----- Global ------------------------ */
html { font-family: Monaco, 'Courier New', Courier, monospace; font-size: 14px; }
body { width: 75%; max-width: 800px; margin: 20px auto; }
label { display: block; }
fieldset { border: 2px solid #999; background: #fffff3; margin: 10px 0; position: relative; }
form { padding: 20px 40px; background: #cc6666; margin: 20px auto 40px; }
input[type="text"] { width: 50%; } 
textarea { width: 50%; height: 100px; }

/* ----- Form Elements ----------------- */
.button { display: inline-block; padding: 5px 10px; margin: 3px; background: #efefef; font-weight: bold; border: 1px solid #ccc; cursor: pointer; }
.button:active { background: #ccc; border: 1px solid #bbb; position:relative; top:1px; }
.button:hover { background: #dedede; }

.button.delete { position: absolute; bottom: 0; right: 0; margin: 15px; }


/* ----- Edit Rubric Form Elements ----- */
fieldset.deleted { background: #fff; color: #aaa; font-style: italic; }
fieldset.deleted input { color: #aaa; font-style: italic; }
fieldset.deleted .button.save { display: none; }


/* ----- Delimited Form Submission ----- */
#delimited textarea { width: 100%; height: 300px; margin: 10px 0; }

/* ----- Process Delimited Form -------- */
#process textarea { width: 100%; height: 300px; margin: 10px 0; }

/* ----- View Delimited Form -------- */
#rubric textarea { width: 100%; height: 300px; margin: 10px 0; }

/* ----- Form Output ------------------- */
#form-output label { font-size: 1.2em; padding-bottom: 5px; }

/* ----- Grade Output ------------------ */
.thead { font-weight: bold; }

/* ----- Misc. CSS Fixes --------------- */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
