/**
*	Rubric Creator
*	Author: Jenn Schiffer
*	Email: schifferj@mail.montclair.edu
*	Updated: 01-19-2012
*/

/* RESET GOES HERE */

/* ----- Global ------------------------ */
html { font-family: Monaco, 'Courier New', Courier, monospace; font-size: 14px; }
body { width: 75%; max-width: 800px; margin: 20px auto; }
label { display: block; }
fieldset { border: 1px solid #999; background: #fff; margin: 10px 0; position: relative; }
legend { border: 1px solid #999; background: #66cccc; padding: 10px; }
form { padding: 20px 40px; background: #cc6666; margin: 20px auto 40px; }
input[type="text"], input[type="email"], input[type="password"] { width: 50%; } 
textarea { width: 50%; height: 100px; }

/* ----- Form Elements ----------------- */
.button { display: inline-block; padding: 5px 10px; margin: 3px; background: #efefef; font-weight: bold; border: 1px solid #ccc; cursor: pointer; }
.button:active { background: #ccc; border: 1px solid #bbb; }
.button:hover { background: #dedede; }
.button.delete { position: absolute; bottom: 0; right: 0; margin: 15px; }
.button.deleteValue { padding: 3px 5px; margin: 5px 0; font-size: .9em;}

/* ----- User Admin Page ---------------- */
#admin form input { margin: 15px 0 0; }

/* ----- Delimited Processsing Form ----- */
#process textarea { width: 100%; height: 300px; margin: 10px 0; }

/* ----- Edit Rubric Form Elements ----- */
fieldset.deleted, li.deleted { color: #aaa; font-style: italic; }
fieldset.deleted input, li.deleted input { color: #aaa; font-style: italic; }
li.deleted { }
ul.radio-options li { margin: 20px 0; }

/* ----- Form Output ------------------- */
#form-output label { font-size: 1.2em; padding-bottom: 5px; }

/* ----- Grade Output ------------------ */
.thead { font-weight: bold; }
.table-grade { background: #efefef; }

/* ----- Grade Email ------------------- */
#email-header { max-width: 580px; padding: 10px; background: #efefef; border: 1px solid #ddd; margin: 10px auto; }
#email-content { max-width: 600px; margin: 10px auto; }

/* ----- Misc. CSS Fixes --------------- */
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
